/* место для вашего кода */
header {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(6, 16%);
    max-height: 105px;
    margin: 92px 24px 96px 24px;
}

.header__menu {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 2 / 6;
    padding-top: 5px;
}
.header__links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    padding-left: 26.52px;
    font-size: 18px;
    font-weight: 400;   
}

.header__links-list-item {
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link_active {
    text-underline-offset: 4px;
}

.header__logo {
    grid-column: 5 / 7;
    grid-row: 1 / 7;
}

.header__logo-image {
    margin-left: 36px;
    width: 148px;
    height: 105px;
}

.address {
    grid-column: 8 / 11;
    grid-row: 1 / 7;
    padding-top: 5px;
    padding-left: 53px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    font-style: normal;
    text-underline-offset: 4px;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: -135px;
    height: 757px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.cover__title {
    padding-top: 162px;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFF;
    font-size: 100px;
    font-weight: bold;
    line-height: 123%;
    text-transform: uppercase;
    letter-spacing: 28px;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 79px;
    right: 50px;
    bottom: 51px;
    z-index: 2;
    font-size: 22px;
    font-weight: 400;
    color: #FFF;
}

.cover__description-text {
    text-align: center;
    line-height: 28px;
    word-spacing: 18px;
    text-transform: uppercase;
}

.bet-button {
    border: 1px solid #FFF;
    padding: 12px 32px 11px 31px;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFF;
    background: none;
}

.lots {
    margin: 179px 24px 0px 24px;
}

.lots__heading {
    padding-left: 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    margin-top: 27px;
    margin-bottom: 30px;
    list-style-type: none;
}

.lots__card-list-item {
    flex-grow: 1;
}

.card-link {
    display: block;
    text-decoration: none;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 334px;
    min-height: 563px;
    color: #FFF;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

.card__title {
    z-index: 3;
    padding: 51px 40px 0px 40px;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.card__text {
    z-index: 3;
    padding: 0px 40px 48px 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 283px 1fr;
    max-width: 1052px;
    margin: 148px 24px 0px 24px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 50%;
    margin: 35px 36px 8px 47px;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 132px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 33px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 180px 45px 88px 55px;
    font-weight: 400;
    font-size: 18px;
}

.footer__address {
    line-height: 24.3px;
    font-style: normal;
    text-underline-offset: 4px;
}

.footer__menu {
    padding-left: 33px;
    font-size: 18px;
    text-align: center;
}

.footer__menu-list {
    list-style-type: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 48px;
    list-style-type: none;
}

.footer__social-icon {
    width: 48px;
}